body {
  background: #FFFFFF;
  margin: 0;
  max-width: 90em;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #FFFFFF;
}

.header_container {
  min-width: 22.5625em;
  min-height: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.8125em 0;
  margin: 0;
}

.top_menu a {
  text-decoration: none;
  padding: 0.3125em 0.5625em;
  margin: 0 0.625em;
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 400;
  font-size: 1em;
  line-height: 149%;
  color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.top_menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 2em;
}

.top_menu > a:hover {
  background: #0a74a5;
}

.top_menu .active {
  background: #0a74a5;
  font-weight: 800;
}

.dropdown_link {
  text-decoration: none;
  display: none;
  font-size: 2em;
  color: #1A1A1A;
}

#dropdown_checkbox {
  display: none;
}

/* MAIN_index*/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index_main_container {
  width: 22.5em;
  height: 25em;
  margin-top: 11.25em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.image_home {
  background-image: url(../img/image_home.jpg);
  background-size: cover;
  background-position: center;
  width: 9.375em;
  height: 9.375em;
  border-radius: 50%;
  border: none;
}

.FnameLname_home {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625em;
  margin-top: 0.19231em;
  color: #1A1A1A;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.IntroText_home {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  color: #555555;
  margin-top: 0.3125em;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  text-align: center;
}

.seperator {
  width: calc(100% - 60px);
  border-top: 0.0625em solid #F0F0F0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.Icons_home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 9.375em;
  height: 1.125em;
  margin-bottom: 2.5em;
  margin-top: 1.5625em;
}

.Icons_home > a {
  text-decoration: none;
  font-size: 1.25em;
  color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.Icons_home > a:hover {
  -webkit-box-shadow: 0em 0em 0.25em 0.625em rgba(119, 116, 116, 0.075);
          box-shadow: 0em 0em 0.25em 0.625em rgba(119, 116, 116, 0.075);
}

/* MAIN_about */
.about_main_container {
  max-width: 34.75em;
  min-height: 73.625em;
  margin-bottom: 3.125em;
  border-bottom: 0.0625em solid #F0F0F0;
  padding-bottom: 1.25em;
}

.about_header {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625em;
  color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5.76923em;
}

.introduction_text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6875em;
  color: #555555;
  margin-top: 1.625em;
  text-align: justify;
}

h2 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.25em;
  color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2.5em 0 2.5em;
}

h3 {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 800;
  font-size: 1em;
  color: #1A1A1A;
  text-align: center;
}

.prof_exp, .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.5em;
}

.prof_exp > div {
  min-width: 15.625em;
  background: rgba(10, 116, 165, 0.8);
  border-radius: 0.625em;
}

.prof_exp > div li {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6875em;
  color: #555555;
  text-align: start;
  padding-left: 0.9375em;
  list-style: none;
}

.prof_exp > div li .icon-checked {
  font-size: 1.375em;
  display: inline-block;
}

.skills > div {
  min-width: 15.625em;
  background: rgba(10, 116, 165, 0.8);
  border-radius: 0.625em;
}

.skills > div li {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6875em;
  color: #555555;
  text-align: start;
  padding-left: 0.9375em;
  list-style: none;
}

.skills > div li .icon-checked {
  font-size: 1.375em;
  display: inline-block;
}

.prof_img > img {
  height: 9.375em;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.interests {
  background: rgba(10, 116, 165, 0.8);
  border-radius: 0.625em;
}

.interests h3 {
  padding-top: 1em;
}

.interests .grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.interests .grid > div {
  position: relative;
  min-height: 3.125em;
}

/* MAIN_contact */
.contact_main_container {
  max-width: 34.75em;
  margin-bottom: 3.125em;
  border-bottom: 0.0625em solid #F0F0F0;
}

.contact_header {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: normal;
  font-size: 1.625em;
  line-height: 1.30769em;
  color: #1A1A1A;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 7.5em;
}

.contact_text {
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.6875em;
  color: #555555;
  margin-top: 1.625em;
  text-align: justify;
}

.contact_form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contact_form .btn {
  border: solid 0.0625em #F0F0F0;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 1px 1px rgba(10, 116, 165, 0.1);
          box-shadow: 0 1px 1px rgba(10, 116, 165, 0.1);
  padding: 0.625em;
  width: 100%;
  margin-bottom: 1.25em;
  background-color: rgba(10, 116, 165, 0.8);
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 800;
  font-size: 1em;
  color: #555555;
}

.contact_form .btn:hover {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  background-color: #0a74a5;
  color: #1A1A1A;
}

.form_group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1.25em;
}

.form_group > .form-control {
  border: solid 0.0625em #F0F0F0;
  border-radius: 0.25em;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  padding: 0.625em;
  width: 100%;
  background-color: rgba(90, 90, 90, 0.062);
  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300;
  font-size: 1em;
  resize: none;
}

.form_group > .form-control:hover {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.form_group > .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #F0F0F0;
  outline: none;
}

.form_group > .form-control::-webkit-input-placeholder {
  color: #c9c6c6;
}

.form_group > .form-control:-ms-input-placeholder {
  color: #c9c6c6;
}

.form_group > .form-control::-ms-input-placeholder {
  color: #c9c6c6;
}

.form_group > .form-control::placeholder {
  color: #c9c6c6;
}

/*MOBILE */
@media only screen and (max-width: 650px) {
  .about_main_container {
    margin: 0 1.875em 3.125em;
  }
  .about_header {
    margin-top: 5em;
  }
  .contact_main_container {
    margin: 0 1.875em 3.125em;
  }
}

@media only screen and (max-width: 570px) {
  .prof_exp {
    margin: 0 1.875em 3.125em;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .prof_exp > div {
    max-width: 15.625em;
    margin-bottom: 1.25em;
  }
}

@media only screen and (max-width: 400px) {
  /*home - subpage*/
  .dropdown_link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 0.9375em;
    right: 0.9375em;
  }
  .top_menu {
    display: none;
  }
  /*.index_main_container{
      margin-top: pxToEm(150);
    }*/
  #dropdown_checkbox:checked + .top_menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #dropdown_checkbox:checked + .top_menu > a {
    margin-bottom: 0.3125em;
    min-width: 7.8125em;
  }
  #dropdown_checkbox:checked .index_main_container {
    margin-top: 3.125em;
  }
  /*home - subpage*/
  .about_main_container {
    margin: 0 1.875em 3.125em;
  }
}
/*# sourceMappingURL=style.css.map */