
@function pxToEm($from, $size: 16) {
    @return $from / $size + 0em;
  }

  $color_background: #FFFFFF;
  $color_text:#1A1A1A;
  $color_basic_text:#555555;
  $color_feature:#0a74a5;
  $color_line: #F0F0F0;

  body {
    background: $color_background;
    margin: 0;
    max-width: pxToEm(1440);
    
  }

  header {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    background: $color_background;

  }

  .header_container {
    min-width: pxToEm(361);
    min-height: pxToEm(32);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: pxToEm(45) 0;
    margin: 0;
  
  }

.top_menu a {
    text-decoration: none;
    padding: pxToEm(5, 16) pxToEm(9, 16);
    margin: 0 pxToEm(10, 16);
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 400;
    font-size: pxToEm(16);
    line-height: 149%;
    color: $color_text;
    display: flex;
    justify-content: center;
  }

  .top_menu {
    display: flex;
    align-items: center;
    min-height: pxToEm(32);
    
        
  }

  .top_menu > a:hover {
    background:  $color_feature;
  }

  .top_menu .active {
    background:  $color_feature;
    font-weight: 800;
  }

  .dropdown_link {
    text-decoration: none;
    display: none;
    font-size: pxToEm(32);
    color: $color_text;
    
  }

  #dropdown_checkbox {
    display: none;
  }

  /* MAIN_index*/

  main {
    display: flex;
    justify-content: center;
  }

  .index_main_container {
    width: pxToEm(360);
    height: pxToEm(400);
    margin-top: pxToEm(180);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .image_home {
    background-image: url(../img/image_home.jpg);
    background-size:  cover;
    background-position: center;
    width: pxToEm(150);
    height: pxToEm(150);
    border-radius: 50%;
    border: none;
        
  }

  .FnameLname_home {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: pxToEm(26);
    margin-top: pxToEm(5,26 );
    color: $color_text;
    display: inline-flex;
    text-align: center;
  }

  .IntroText_home {
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: pxToEm(16);
    color:$color_basic_text;
    margin-top: pxToEm(5,16 );
    display: inline-flex;
    text-align: center;
  }

  .seperator {
    width: calc(100% - 60px);
    border-top: pxToEm(1) solid $color_line;
    display: flex;
    justify-content: space-between;
  }

  .Icons_home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: pxToEm(150);
    height: pxToEm(18);
    margin-bottom: pxToEm(40);
    margin-top: pxToEm(25);
  }

  .Icons_home > a {
    text-decoration: none;
    font-size: pxToEm(20);
    color: $color_text;
    display: flex;
    align-items: center;
   
  }

  .Icons_home > a:hover {
    box-shadow: pxToEm(0) pxToEm(0) pxToEm(4) pxToEm(10) rgba(119, 116, 116, 0.075);
    
  }
  /* MAIN_about */

  .about_main_container {
    max-width: pxToEm(556);
    min-height: pxToEm(1178);
    margin-bottom: pxToEm(50);
    border-bottom: pxToEm(1) solid $color_line;
    padding-bottom: pxToEm(20) ;
  }

  .about_header{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: pxToEm(26);
    color: $color_text; 
    display: flex;
    justify-content: center;
    margin-top: pxToEm(150,26 );
  }

  .introduction_text{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: pxToEm(16);
    line-height: pxToEm(27,16 );
    color: $color_basic_text;
    margin-top: pxToEm(26);
    text-align: justify;
  }

  h2{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: pxToEm(20);
    color: $color_text; 
    display: flex;
    justify-content: center;
    margin: pxToEm(50,20 ) 0 pxToEm(50,20 );
  }

  h3{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 800;
    font-size: pxToEm(16);
    color: $color_text; 
    text-align: center;
               
  }

  .prof_exp, .skills{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: pxToEm(40);
  }

  .prof_exp > div {
    min-width: pxToEm(250);
    background: rgba(10, 116, 165, 0.8);
    border-radius: pxToEm(10);
    
    li{
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 300;
      font-size: pxToEm(16);
      line-height: pxToEm(27,16 );
      color: $color_basic_text;
      text-align: start;
      padding-left: pxToEm(15,16 );
      list-style: none;
    
      .icon-checked{
        font-size: pxToEm(22);
        display: inline-block;
        
      }
    
    }
  }

  .skills > div {
    min-width: pxToEm(250);
    background: rgba(10, 116, 165, 0.8);
    border-radius: pxToEm(10);
   
    li{
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 300;
      font-size: pxToEm(16);
      line-height: pxToEm(27,16 );
      color: $color_basic_text;
      text-align: start;
      padding-left: pxToEm(15,16 );
      list-style: none;
    
      .icon-checked{
        font-size: pxToEm(22);
        display: inline-block;
      }
    
    }
  
  
  }


  .prof_img > img {
    height:pxToEm(150);
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

  .interests{
    background: rgba(10, 116, 165, 0.8);
    border-radius: pxToEm(10);
    
    h3{
      padding-top: pxToEm(16);
    }

    .grid{
      display: grid;
      grid-template-columns: repeat(3, 1fr);
    }

   .grid > div {
     position: relative;
     min-height: pxToEm(50);
   }
    
    
  }

  

  

  

  /* MAIN_contact */

  .contact_main_container {
    max-width: pxToEm(556);
    margin-bottom: pxToEm(50);
    border-bottom: pxToEm(1) solid $color_line;
    
    
  }

  .contact_header{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    font-size: pxToEm(26);
    line-height: pxToEm(34,26);
    color: $color_text; 
    display: flex;
    justify-content: center;
    margin-top: pxToEm(195,26 );
  }

  .contact_text{
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: 300;
    font-size: pxToEm(16);
    line-height: pxToEm(27,16 );
    color: $color_basic_text;
    margin-top: pxToEm(26,16 );
    text-align: justify;
  }

  .contact_form{
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn{
      border: solid pxToEm(1)  $color_line;
      border-radius: pxToEm(4);
      box-shadow: (0 1px 1px rgba(#0a74a5, 0.1));
      padding: pxToEm(10);
      width: 100%;
      margin-bottom: pxToEm(20);

      background-color: rgba(10, 116, 165, 0.8);
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 800;
      font-size: pxToEm(16);
      color: $color_basic_text;
    }
    .btn:hover{
      box-shadow: (0 2px 2px rgba(black, 0.2));
      background-color: $color_feature;
      color: $color_text;
    }
  }
 
  .form_group{
    display: flex;
    justify-content: center;
    margin-bottom: pxToEm(20);

    >.form-control{
      border: solid pxToEm(1)  $color_line;
      border-radius: pxToEm(4);
      box-shadow: (0 1px 1px rgba(black, 0.1));
      padding: pxToEm(10);
      width: 100%;
      background-color: rgba(90, 90, 90, 0.062);
      font-family: Roboto Mono;
      font-style: normal;
      font-weight: 300;
      font-size: pxToEm(16);
      resize: none;
    }
    >.form-control:hover{
      //border-color: $color_basic_text;
      box-shadow: (0 2px 2px rgba(black, 0.2));
    }
    >.form-control:focus{
      box-shadow: none;
      border-color: $color_line;
      outline: none;
    
    }
    >.form-control::placeholder{
      color: rgb(201, 198, 198);
    }
 }



  /*MOBILE */
  @media only screen and (max-width: 650px){
    .about_main_container {
      margin: 0 pxToEm(30) pxToEm(50);
    }
    .about_header{
      margin-top: pxToEm(80);
    }
    .contact_main_container{
      margin: 0 pxToEm(30) pxToEm(50);
    }
  }

  @media only screen and (max-width: 570px){
    
    .prof_exp {
      margin: 0 pxToEm(30) pxToEm(50);
      flex-direction: column;
      display: flex;
      justify-content: center; //nestrādā!


      > div {
        max-width: pxToEm(250);
        margin-bottom: pxToEm(20);
      }
      
    }
  }
  
  @media only screen and (max-width: 400px){
    /*home - subpage*/
    .dropdown_link {
      display: flex;
      position: absolute;
      top: pxToEm(15);
      right: pxToEm(15);
    }
    .top_menu {
      display: none;
    }
   
    /*.index_main_container{
      margin-top: pxToEm(150);
    }*/

    #dropdown_checkbox:checked + .top_menu {
      display: flex;
      flex-direction: column;
    }

    #dropdown_checkbox:checked + .top_menu >a {
      margin-bottom: pxToEm(5);
      min-width: pxToEm(125 );
    }

    #dropdown_checkbox:checked .index_main_container{ //šis nestrādā!!!
      margin-top: pxToEm(50);
    }

    /*home - subpage*/
    .about_main_container {
     margin: 0 pxToEm(30) pxToEm(50);
    }
  }

  @media only screen and (max-width: 400px){

  }